<div class="card border-info" style="padding:10px">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <!-- Delete Comm-->
  <div style="margin:5px">
    <% if user_signed_in? %>
    <div class="col"><%= button_to 'Delete comment', [comment.article, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></div>
    <% end %>
  </div>
  <!-- Delete Comm-->
</div>