<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<!-- Delete Comm-->
<div style="margin:5px">
  <div class="col"><%= button_to 'Delete comment', [comment.article, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></div>
</div>
<!-- Delete Comm-->
